@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

body {
	background-color: #093015;
}
#root {
	font-family: "Noto Serif", serif;
	color: #bebebe;
}
.app-row {
	margin-top: 70px;
	font-size: 4em;
	text-align: center;
}
.app-cell {
	display: inline-block;
	margin: 0 auto;
}
.pl10{
	padding-left: 10px;
}
.weather-row {
	display: grid;
	font-size: 1.75em;
	text-align: center;
}
.weather-row>span{
	margin-top: 12px;
}
.weather-scale {
	cursor: pointer;
}
.weather-scale:hover {
	text-decoration: underline;
	color: blue;
}
.img-weather-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}
.code-author {
	margin-top: 50px;
	font-family: "Times New Roman", Times, serif;
	font-size: 0.85em;
	text-align: center;
}
.navbar {
	position: fixed;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #222;
	border: 1px solid transparent;
	border-color: #080808;
	border-width: 0 0 1px;
}
.left-side {
	color: #9d9d9d;
	vertical-align: middle;
	float: left;
	margin-left: 85px;
}
.right-side {
	cursor: pointer;
	vertical-align: middle;
	float: right;
	margin-right: 85px;
	padding: 0 15px;
	background-color: #080808;
}
.right-side:active {
	background-color: #5d5d5d;
}
